extends layout

block content
  h1= title
  
  - let item = results;

         div(class="container-fluid")

            div(class="row")

              each item in JSCode  

                  div(class="col-sm-2", class="row") Item #{item.age}(#{item.color}) is #{item.weight}

                                }