extends layout

block content
  h1= title
  
  - let results = ["age", "color", "weight"]

         div(class="container-fluid")

            div(class="row")

              each item in JSCode  

                  div(id = age class="col-sm-2")
                  div(id = color class="col-sm-2")
                  div(id = weight class="col-sm-2")
                                }